<%= render "shared/app_teacher_menu" %>
    <!-- =========================================
    Gray Section
    ========================================== -->
    <section class="gray-section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">

          <!-- col-md-12 -->
          <div class="col-md-12">
            <!-- content_center-->
            <div class="content_center">
              <h1>Teacher Portal - Daily</h1>
              <!-- *******Page Content -->
              <!--******End Page Content-->
            </div><!-- /content_center-->
          </div><!-- /col-md-12 -->

        </div><!-- /row -->
      </div><!-- /container -->
    </section><!-- /section -->
<%= render "shared/app_footer" %>