<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- =========================================
BackGround Slider
========================================== -->
<div class="backstretch-overlayer"></div>

<!-- =========================================
Menu
========================================== -->
<!-- gn-menu-main -->
<ul id="gn-menu" class="gn-menu-main">
  <li>
    <br />
  </li>
  <!-- logo -->
  <li class="logo">
    <a href="index.html" title="PencilBox"><%= image_tag "logo.png" %></a>
  </li><!-- /logo -->

  <!-- #menu-platforms -->
  <li id="menu-social-icons">
    PencilBox App available on: 
    <ul class="menu-social-icons">
      <li>
        <a href="javascript:void(0)" title="Android"><i class="fa fa-android"></i></a>
      </li>
      <li>
        <a href="javascript:void(0)" title="Apple"><i class="fa fa-apple"></i></a>
      </li>
      <li>
        <a href="javascript:void(0)" title="Windows"><i class="fa fa-windows"></i></a>
      </li>
      <li>
        <a href="javascript:void(0)" title="Web App"><i class="fa fa-desktop"></i></a>
      </li>
    </ul>
  </li><!-- /#menu-platforms -->

</ul><!-- /gn-menu-main -->
