    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- =========================================
    Menu
    ========================================== -->
    <!-- gn-menu-main -->
    <ul id="gn-menu" class="gn-menu-main">

      <!-- gn-trigger -->
      <li class="gn-trigger">

        <!-- gn-icon-menu -->
        <a class="gn-icon-menu" href="javascript:void(0)" title="Menu"><i class="fa fa-align-justify"></i></a>

        <!-- gn-menu-wrapper -->
        <nav class="gn-menu-wrapper">

          <!-- gn-scroller -->
          <div class="gn-scroller">

            <!-- gn-menu -->
            <ul class="gn-menu">

              <!-- Main Parent Page -->
              <li>
                <a class="gn-active" href="index.html" title="Home"><i class="fa fa-home"></i> Home</a>
              </li><!-- /Home -->
              <li>
                <a class="gn-dropdown" href="javascript:void(0)" title="Manage Users"><i class="fa fa-users"></i> System Manager</a>
                <!-- gn-submenu -->
                <ul class="gn-submenu">
                  <li>
                    <a href="javascript:void(0)" title="Add School">Add School</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Add Class">Add Class</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Add Teacher">Add Teacher</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Add Parent">Add Parent</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Add Student">Add Student</a>
                  </li>
                </ul><!-- /gn-submenu -->
                
              </li>
              <li>
                <a class="gn-dropdown" href="javascript:void(0)" title="Social"><i class="fa fa-star"></i> Manage Events</a>
                <!-- gn-submenu -->
                <ul class="gn-submenu">
                  <li>
                    <a href="javascript:void(0)" title="Edit Calendar">Edit Calendar</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Add Event">Add Event</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)l" title="Add Fee">Add Fee</a>
                  </li>
                </ul><!-- /gn-submenu -->
              </li><!-- /Media -->
              <li>
                <a class="gn-active" href="logout" title="Exit App"><i class="fa fa-times"></i> Log Out</a>
              </li><!-- /Exit App -->
              

            </ul><!-- /gn-menu -->

          </div><!-- /gn-scroller -->

        </nav><!-- /gn-menu-wrapper -->

      </li><!-- /gn-trigger -->

      <!-- logo -->
      <li class="logo">
        <a href="index.html" title="Melon"><img src="images/logo.png" alt="logo" /></a>
      </li><!-- /logo -->

      <!-- #menu-social-icons -->
      <li id="menu-social-icons">Administrator Tools:
        <!-- menu-social-icons -->
        <ul class="menu-social-icons">
          <li>
            <a href="javascript:void(0)" title="Manage System"><i class="fa fa-hdd-o"></i></a>
          </li>
          <li>
            <a href="javascript:void(0)" title="Lists"><i class="fa fa-list-alt"></i></a>
          </li>
          <li>
            <a href="logout" title="Log Out"><i class="fa fa-times"></i></a>
          </li>
        </ul><!-- /menu-social-icons -->
      </li><!-- /#menu-social-icons -->

    </ul><!-- /gn-menu-main -->

