    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- =========================================
    Menu
    ========================================== -->
    <!-- gn-menu-main -->
    <ul id="gn-menu" class="gn-menu-main">

      <!-- gn-trigger -->
      <li class="gn-trigger">

        <!-- gn-icon-menu -->
        <a class="gn-icon-menu" href="javascript:void(0)" title="Menu"><i class="fa fa-align-justify"></i></a>

        <!-- gn-menu-wrapper -->
        <nav class="gn-menu-wrapper">

          <!-- gn-scroller -->
          <div class="gn-scroller">

            <!-- gn-menu -->
            <ul class="gn-menu">

              <!-- Main Parent Page -->
              <li>
                <a class="gn-active" href="index.html" title="Home"><i class="fa fa-home"></i> Home</a>
              </li><!-- /Home -->
              <li>
                <a class="gn-active" href="javascript:void(0)" title="Attendance"><i class="fa fa-bell"></i> Attendance</a>
              </li><!-- /Attendance -->
              <li>
                <a class="gn-dropdown" href="javascript:void(0)" title="Messenger"><i class="fa fa-mail-forward"></i> Messenger</a>
                <!-- gn-submenu -->
                <ul class="gn-submenu">
                  <li>
                    <a href="javascript:void(0)" title="Inbox">Inbox</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Inbox">Parent chat</a>
                  </li>
                </ul><!-- /gn-submenu -->
                
              </li>
              <li>
                <a class="gn-dropdown" href="javascript:void(0)" title="Social"><i class="fa fa-star"></i> School SNet</a>
                <!-- gn-submenu -->
                <ul class="gn-submenu">
                  <li>
                    <a href="javascript:void(0)" title="School Calendar">Calendar</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Class Pictures">Pictures</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Add Event">Add Event</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" title="Blog">Class Blog</a>
                  </li>
                </ul><!-- /gn-submenu -->
              </li><!-- /Media -->
              <li>
                <a class="gn-active" href="javascript:void(0)" title="Participate and Win"><i class="fa fa-heart"></i> Win Something!</a>
              </li><!-- /Win Something -->
              <li>
                <a class="gn-active" href="logout" title="Exit App"><i class="fa fa-times"></i> Log Out</a>
              </li><!-- /Exit App -->
              

            </ul><!-- /gn-menu -->

          </div><!-- /gn-scroller -->

        </nav><!-- /gn-menu-wrapper -->

      </li><!-- /gn-trigger -->

      <!-- logo -->
      <li class="logo">
        <a href="index.html" title="Melon"><img src="images/logo.png" alt="logo" /></a>
      </li><!-- /logo -->

      <!-- #menu-social-icons -->
      <li id="menu-social-icons">
        <!-- menu-social-icons -->
        <ul class="menu-social-icons">
          <li>
            <a href="logout" title="Log Out"><i class="fa fa-times"></i></a>
          </li>
        </ul><!-- /menu-social-icons -->
      </li><!-- /#menu-social-icons -->

    </ul><!-- /gn-menu-main -->

